.container {
    height: 300px;
    width: 1330px;
    background-color: white;
    margin: 5px;
    flex-direction: row;
    
}

#image {
    width: 200px;
    height: 170px;
    margin: 5px;
}

.header {
    font-size: 21px;
    line-height: 27px;
    font-weight: bold;
    padding: 15px;
}

.body {
    padding-left: 8px;
    display: flex;
    overflow: auto;
    max-width: 1300px;
}

.footer {
    padding-left: 5%;
}

