#img {
    height: 500px;
    margin: 100px 150px;
}

.description {
    margin-top: 50px;
}

.title {
    font-size:"24px"; 
    line-height:"32px";
    font-weight: 500;
}

.textgap {
    margin: 10px;
}

#price {
    font-size: 24px;
    color: #812704;
}

#order {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

/* .orderButton {
    width: 150px;
    height: 30px;
    border-radius: 40px;
    margin: 5px;
    border: 0px;
    color: white;
} */

.buynow {
    width: 150px;
    height: 30px;
    border-radius: 40px;
    margin: 5px;
    border: 0px;
    color: white;
    background-color: #FF0712;
}

.addtocart {
    width: 150px;
    height: 30px;
    border-radius: 40px;
    margin: 5px;
    border: 0px;
    color: white;
    background-color: #FF8415;
    margin-top: 150px;
}