.container {
    width: 210px;
    margin: 30px;
}

.image > img {
    height: 200px;
}

.name {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

.rating {
    font-size: 20px;
    color: #007185;
}

.price {
    color: #B12704;
    font-size: 20px;
    font-weight: 600;
}

.stars {
    font-size: 20px;
}