.container {
    height: 420px;
    width: 325px;
    background-color: white;
    margin: 5px;
}

img {
    width: 140px;
    height: 93px;
    margin: 5px;
}

.header {
    font-size: 21px;
    line-height: 27px;
    font-weight: bold;
    padding: 15px;
}

.body {
    padding-left: 8px;
}

.footer {
    padding-left: 5%;
}